  <div class="main_temp">
    <%= render "main" %>
  </div>

<p class="fin"><%= flash[:already] %>
</p>
<!--p class="p02">貸出中：<%= @sample.rent %></p-->

<div class="search-list">
    <p class="sea-res">

    <%= @sample.基本コード %>-
    <%= @sample.サブコード %> #
    <%= @sample.個別番号 %>　　　ロケ：
    <%= @sample.ロケーション %>

    </p>

    <p class="sea-res2">
    <%= @sample.販売商品名 %>　　　
    <%= @sample.カラー %>
    </p>

    <%= link_to "#{@sample.申込番号} の一覧を確認" , search_samples_path(keyword:@sample.申込番号 ), class:'btn01' %>

  <%# 貸出本人/pick時だけが返却できるようにする %>
  <% if current_user.name == @sample.rent ||
        current_user.mode == "SYUKA-A" ||
        current_user.mode == "SYUKA-C" %>

    <%=form_with model: @sample , local: true do |f|%>
        
        <div class='done-form'>
          <%= f.label :バーコードで返却する場合はこちら %>
        </div>
        <div class='field-input'>
          <%= f.text_field :ロケーション, placeholder:'QR / NFC / 直接入力' , maxlength:10, size:16, value:"" %>
        </div>

        <%= f.submit "このロケへ返却", class:'btn01'%>

    <% end %>

    <!-- プルダウン返却追加 -->
        <!-- 同品番のあるロケをプルダウンで返却先に指定 -->
        <%=form_with model: @sample , local: true do |f|%>
        
          <div class='done-form'>
            <%= @sample.申込番号 %> <%= f.label :の他サブ保管先へ返却 %>
          </div>
          <div class='field-input'>
            <%= f.collection_select :ロケーション,
             Sample.where(申込番号: @sample.申込番号)
             .where.not(id: @sample.id )
             .where.not( ロケーション: "Still Image" )
             .where.not( ロケーション: "Cast" )
             .where.not( ロケーション: "Stylist" )
             .where.not( ロケーション: "Promotion" ),
              :ロケーション, :ロケーション %>
          </div>
          <%= f.submit "このロケへ返却", class:'btn01'%>

        <% end %>

  <% end %>

</div>
