<p class="fin">ロケーションの移動が完了しました。</p>

<div class="search-list">
  <% @products.each do |prod| %>
    <p class="sea-res">
    <%= prod.基本コード %>-
    <%= prod.サブコード %> #
    <%= prod.個別番号 %>　　　ロケ：
    <%= prod.ロケーション %>

    </p>

    <p class="sea-res2">
    <%= prod.販売商品名 %>　　　
    <%= prod.カラー %>
    </p>

    <% if prod.rent != "(該当無し)" &&
          prod.rent != "" %>
      <p class="fin">　貸出中：<%= prod.rent %></p>
    <% end %>


  <% end %>
</div>