<p class="fin"><%= flash[:already] %>
</p>
<p class="p02">貸出中：<%= @sample.rent %></p>

<div class="search-list">
    <p class="sea-res">

    <%= @sample.基本コード %>-
    <%= @sample.サブコード %> #
    <%= @sample.個別番号 %>　　　ロケ：
    <%= @sample.ロケーション %>

    </p>

    <p class="sea-res2">
    <%= @sample.販売商品名 %>　　　
    <%= @sample.カラー %>
    </p>

    <%= link_to "#{@sample.申込番号} の一覧を確認" , search_samples_path(keyword:@sample.申込番号 ), class:'btn01' %>

  <%# 貸出本人だけが返却できるようにする %>
  <% if current_user.name == @sample.rent %>
    <%=form_with model: @sample , local: true do |f|%>
        
        <div class='done-form'>
          <%= f.label :返却する場合はここにロケを入力して下さい %>
        </div>
        <div class='field-input'>
          <%= f.text_field :ロケーション, placeholder:'QR / NFC / 直接入力' , maxlength:10, size:16, value:"" %>
        </div>

        <%= f.submit "このロケへ返却", class:'btn01'%>

    <% end %>
  <% end %>


</div>