<p>貸出処理が完了しました</p>
<p>QRによる自動移動は貸出のみです。</p>



<div class="search-list">
    <p class="sea-res">

    <%= @sample.基本コード %>-
    <%= @sample.サブコード %> #
    <%= @sample.個別番号 %>　　　ロケ：
    <%= @sample.ロケーション %>

    </p>

    <p class="sea-res2">
    <%= @sample.販売商品名 %>　　　
    <%= @sample.カラー %>
    </p>


  <%=form_with model: @sample , local: true do |f|%>
      
      <div class=''>
        <%= f.label :返却する場合はここにロケを入力して下さい %>
      </div>
      <div class=''>
        <%= f.text_field :ロケーション, placeholder:'QRまたは手入力' ,size: 20 , maxlength:10 %>
      </div>

      <%= f.submit "このロケへ返却"%>


  <% end %>


</div>