  <div class="">
    <p class="fin">　<%= notice %></p>
    <p class="menu">共通メニュー</p>
    <% if current_user.group == "Cast" ||
          current_user.group == "Still Image" ||
          current_user.group == "Promotion" ||
          current_user.group == "Stylist" %>
      <p> <%= link_to "自分の貸出確認", rent_list_path, class: 'btn01' %> </p><br><br>
    <% else %>
    <%# 通常メニュー %>
    <div class="field-input">
      <p class="p04" >貸出リストを確認する</p>
      <%= form_with(url: rent_list_path, local: true, method: :get, class: "") do |f| %>
      <%= f.collection_select :rent, Sample.select(:rent).distinct.where.not(rent: ""), :rent, :rent %>

      <%= f.submit "検索", class: "search-btn" %><br><br>
      <% end %>
    </div>
        <%# ロケーション内検索 %>
    <div class="field-input">
        <p class="p04" >ロケーション別・全サンプルリスト</p>

        <div class="search2">
          <%= form_with(url: search_samples_path, local: true, method: :get, class: "") do |f| %>
          <%= f.collection_select :ロケーション, Sample.select(:ロケーション).distinct, :ロケーション, :ロケーション %>
          <%= f.submit "検索", class: "search-btn" %>
          <% end %>
        </div>
    </div>
    <% end %>
  </div>

  <div class="">
    <p class="menu">Inventory専用メニュー</p>
    <% if current_user.group == "Inventory" %>
      <p><br><%= link_to "サンプル登録", new_sample_path, class: 'btn01' %><br><br></p>
      <div class="field-input">
          <p class="p04" >入庫モード切替</p>
          <%= form_with url: "/mode", method: :post, id:"mode" do |f|%>
          <div class='mode-menu'>
          
            <div class='field-input'>
              <%= f.select :mode, ['AST-1F','AST-2F','AST-7F','INV-4F'], { selected: current_user.mode } %>              
            </div>

            <div class="btn01" id="mode-btn">
            <%= f.submit "モード切替" %>
            </div>

            <div class="mode-now" id="mode-now" >
              <p><%= current_user.mode %></p>
            </div>

          </div>

          <% end %>
      </div>

    <% else %>
      <p>現在ログイン中のユーザーは利用できません。</p>
    <% end %>

  </div>


