<div class='new-sample'>

  <%=form_with model: @sample, local: true do |f|%>
    <div class='sample-form'>
      <p class="fin"><%= notice %></p><br>

      <h1>新規サンプル登録</h1>
      <p class="fin"><%= flash[:already] %></p>

      <div class=''>
        <%= f.label :基本コード, class: ''%>
        <p class="fin" ><%= @sample.errors.messages[:基本コード][0] %>
      </div>
      <div class='field-input'>
        <%= f.text_field :基本コード, class: '', placeholder: '10桁',size: 16 , maxlength:10, autocomplete: "off" %>
      </div>

      <div class=''>
        <%= f.label :サブコード, class: ''%>
        <p class="fin" ><%= @sample.errors.messages[:サブコード][0] %>

      </div>
      <div class='field-input'>
        <%= f.text_field :サブコード, class: '', placeholder: '3桁',size: 5 , maxlength:3 %>
      </div>

      <div class=''>
        <%= f.label :個別番号, class: ''%>
      </div>
      <div class='field-input'>
        <%= f.text_field :個別番号, class: '', placeholder: '2桁',size:3,maxlength:2 %>
      </div>

      <div class=''>
        <%= f.label :申込番号, class: ''%>
      </div>
      <div class='field-input'>
        <%= f.text_field :申込番号, class: '', placeholder: '6桁',size:12,maxlength:6 %>
      </div>

      <div class=''>
        <%= f.label :販売商品名, class: ''%>
      </div>
      <div class='field-input'>
        <%= f.text_field :販売商品名, class: '', placeholder: '販売商品名', size:16 %>
      </div>


      <div class=''>
        <%= f.label :カテゴリー番号, class: ''%>
      </div>
      <div class='field-input'>
        <%= f.text_field :カテゴリー, class: '', placeholder: '2桁',size:3,maxlength:2 %>
      </div>

      <div class=''>
        <%= f.label :カラー・サイズ等, class: ''%>
      </div>
      <div class='field-input'>
        <%= f.text_field :カラー, class: '', placeholder: 'なくても可', size:16%>
      </div>

      <div class=''>
        <%= f.label :ロケーション, class: ''%>
      </div>
      <div class='field-input'>
        <%= f.text_field :ロケーション, size:16 %>
      </div>



        <%= f.submit "新規登録",class: 'btn01'%>
    </div>
    
  <% end %>
  
</div>
