<p class="p02"><%= flash[:already] %></p>
<p class="p03">*自分が貸出中のサンプルがあれば表示されます。</p>
<div class="search-list">
  <% @samples.each do |sam| %>
    <p class="sea-res">
    <%= sam.基本コード %>-
    <%= sam.サブコード %> #
    <%= sam.個別番号 %>　　　ロケ：
    <%= sam.ロケーション %>
    </p>

    <p class="sea-res2">
    <%= sam.販売商品名 %>　　　
    <%= sam.カラー %>
    </p>

    <%= link_to "#{sam.申込番号} の一覧を確認" , search_samples_path(keyword:sam.申込番号 ), class:'btn01' %>

  <% end %>
</div>