<div>
    <div class="main_temp">
      <%= render "main" %>
    </div>
    <h2>検索結果（番号を入力していない場合は全てのデータが表示されます）</h2>

    <div class="search-list">
      <% @samples.each do |sample| %>
        <p class="sea-res">
          <%= sample.基本コード %>-
          <%= sample.サブコード %> #
          <%= sample.個別番号 %>　　　ロケ：
          <%= sample.ロケーション %>

        </p>

        <p class="sea-res2">
          <%= sample.販売商品名 %>
          <%= sample.カラー %>
        </p>
      <% end %>
    

</div>