<div>
    <div class="main_temp">
      <%= render "main" %>
    </div>
    <h2>検索結果（無入力時 全データ表示）</h2>
    <%# <%= notice %>
    <%# <p class="fin"><%= flash[:already] %>
    <p class="p02">　"<%= @keyword %>"で検索しています。</p>


    <div class="search-list">
      <% count = 0 %>
      <% @samples.each do |sample| %>
        <% count += 1 %>
        
        <p class="sea-res">

          <%= sample.基本コード %>-
          <%= sample.サブコード %> #
          <%= sample.個別番号 %>　　　ロケ：
          <%= sample.ロケーション %>

        </p>

        <div class="sea-res2">
          <div class="">
            <%= link_to "#{sample.販売商品名}", sample_path(sample.id),method: :get, class:'sample-btn' %>

            　　　<%= sample.カラー %>
          </div>


          <%# サンプル編集はインベントリー専用 %>
          <div class="">
            <% if current_user.group == "Inventory" %>
              <%= link_to '情報変更', edit_sample_path(sample.id),method: :get,class: 'btn01' %>
            <% end %>
          </div>     
    
        </div>
        
        <% if sample.rent != "" %>
          <p class="fin">　貸出中：<%= sample.rent %></p>
        <% end %>

      <% end %>
        <p><%= count %>件見つかりました。</p>
        
</div>