<div class="search-list">
  <%# 基本情報 %>
  <div class="">
    <p class="menu" >サンプル個別詳細情報：<%= @sample.基本コード %></p>

    <p class="p02">
    　<%= @sample.申込番号 %>
    -<%= @sample.サブコード %>
    #<%= @sample.個別番号 %>
    　<%= @sample.販売商品名 %>
    　ctg<%= @sample.カテゴリー %>
    </p>
    <p class="p02">
    　ロケ：<%= @sample.ロケーション %>
    　色等：<%= @sample.カラー %>
    </p>
  </div>

  <%# menu1 商品画像 %>
  <div class="">
  </div>

  <%# menu2 OA情報 %>
  <div class="">
    <%# menu2-1 OA情報表示 %>
    <div class="">
      <p class="menu" >OA予定</p>

    </div>

    <%# menu2-2 OA情報登録 %>
    <div class="">
      <% if current_user.group == "Inventory" %>
        <p class="menu" >OA予定登録</p>
        <%= form_with(model: [@sample,@air_time], local: true) do |f| %>
        <%= f.datetime_field :start_t %>
        <%= f.submit "OA登録" %>

        <p class="fin"><%= flash[:onair] %>
        <% end %>
      <% end %>
    </div>

  </div>




  <%# menu3 移動履歴 %>
  <div class="">
    <p class="menu" >ロケーション移動履歴</p>
    <% @resumes.each do |resume| %>
      
      <p class="sea-res">
      <%= resume.ロケーション旧 %> 　=>　
      <%= resume.ロケーション新 %>　
      <%= resume.name %>
      </p>

      <p class="sea-res2">
      <%# エル( l )メソッドで日本時刻 %>
      <%= l resume.created_at %>
      </p>

    <% end %>
  </div>
</div>