<div class="search-list">
  <p class="fin"><%= flash[:onair] %></p>
  <%# 基本情報 %>
  <div class="">
    <p class="menu" >サンプル個別詳細情報：<%= @sample.基本コード %></p>
    <p class="p03">*商品サンプルの詳細情報は<br>実際の現場ではかなり高い頻度で見られます。</p>
    <p class="p02">
    　<%= @sample.申込番号 %>
    -<%= @sample.サブコード %>
    #<%= @sample.個別番号 %>
    　<%= @sample.販売商品名 %>
    　ctg<%= @sample.カテゴリー %>
    </p>
    <p class="p02">
    　ロケ：<%= @sample.ロケーション %>
    　【<%= @sample.カラー %>】
    </p>
  </div>

  <%# menu1 商品画像 %>
  <div class="">
    <p class="menu" >サンプル画像 ※現在表示されているのは見本です</p>

    <img src="https://www.shopch.jp/img/prod/<%= @sample.申込番号[0,3] %>/<%= @sample.申込番号[3,3] %>/<%= @sample.申込番号 %>01E.jpg" alt="仮の写真" class="sample_img" onerror="this.style.display='none'">

    <img src="https://www.shopch.jp/img/prod/<%= @sample.申込番号[0,3] %>/<%= @sample.申込番号[3,3] %>/<%= @sample.申込番号 %>02E.jpg" alt="仮の写真" class="sample_img" onerror="this.style.display='none'">

    <img src="https://www.shopch.jp/img/prod/<%= @sample.申込番号[0,3] %>/<%= @sample.申込番号[3,3] %>/<%= @sample.申込番号 %>03E.jpg" alt="仮の写真" class="sample_img" onerror="this.style.display='none'">

    <img src="https://www.shopch.jp/img/prod/<%= @sample.申込番号[0,3] %>/<%= @sample.申込番号[3,3] %>/<%= @sample.申込番号 %>51E.jpg" alt="仮の写真" class="sample_img" onerror="this.style.display='none'">

    <img src="https://www.shopch.jp/img/prod/<%= @sample.申込番号[0,3] %>/<%= @sample.申込番号[3,3] %>/<%= @sample.申込番号 %>52E.jpg" alt="仮の写真" class="sample_img" onerror="this.style.display='none'">

    <img src="https://www.shopch.jp/img/prod/<%= @sample.申込番号[0,3] %>/<%= @sample.申込番号[3,3] %>/<%= @sample.申込番号 %>53E.jpg" alt="仮の写真" class="sample_img" onerror="this.style.display='none'">

    <img src="https://www.shopch.jp/img/prod/<%= @sample.申込番号[0,3] %>/<%= @sample.申込番号[3,3] %>/<%= @sample.申込番号 %>71E.jpg" alt="仮の写真" class="sample_img" onerror="this.style.display='none'">


  </div>

  <%# menu2 OA情報 %>
  <div class="">
    <%# menu2-1 OA予定表示 %>
    <div class="">
      <p class="menu" >OA予定・過去OA情報</p>
      <p class="p03">*TV放送で使う予定・使った記録です。<br>実際の現場でも秒単位で管理されています。</p>
      <% @air_times.each do |air_time| %>
        <% wd = ["日","月","火","水","木","金","土"] %>
        
        <p class="sea-res" >
          <%= air_time.date %>　
          [<%= wd[air_time.date.wday] %>]
        </p>

        <p class="sea-res2" >
          [S]<%= l air_time.start_t, format: :onlytime %>　
          <%# ↑↓locales>ja.yml内でformat設定 %>
          [E]<%= l air_time.end_t, format: :onlytime %>　
          <%# コントローラー内で合計air_time計算 %>
          [AT]<%= l air_time.onair_t, format: :onlytime %>
        </p>

      <% end %>
      <p class="p03">*部署がInventoryの社員は<br>この下にOA予定の登録フォームが表示されます。</p>

    </div>

    <%# menu2-2 OA予定登録 %>
    <div class="">
      <% if current_user.group == "Inventory" %>
        <p class="menu" >OA予定登録</p>
        <%= form_with(model: [@sample,@air_time], local: true) do |f| %>
        
        　OA日<%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d'), class:'air_time_form' %><br>
        　開始<%= f.time_select :start_t, include_seconds: true %><br>
        　終了<%= f.time_select :end_t, include_seconds: true %><br>
        　<%= f.submit "OA登録", class: 'air_time_form_btn' %>
        <p class="p03">*TV放送で使う予定を秒単位で登録。<br>放送時間 [AT] は自動で計算されます。</p>

        <% end %>
      <% end %>
    </div>
  </div>


  <%# menu3 ロケ移動履歴 %>
  <div class="">
    <p class="menu" >ロケーション移動履歴</p>
    <p class="p03">*社員がサンプルを移動した履歴です。<br>実際の現場でかなり高い頻度で見ます。<br>主に、サンプル所在が不明時の捜索に使用。</p>

    <% @resumes.each do |resume| %>
      
      <p class="sea-res">
      <%= resume.ロケーション旧 %> 　=>　
      <%= resume.ロケーション新 %>　
      <%= resume.name %>
      </p>

      <p class="sea-res2">
      <%# エル( l )メソッドで日本時刻 %>
      <%= l resume.created_at %>
      　部署：<%= resume.group %>
      </p>

    <% end %>
  </div>
</div>