<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>wms_3</h2>
      <h5>アカウントを作る</h5>
      <%= link_to 'ログインへ戻る', '/' , class: 'btn01'%>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
        <%= devise_error_messages!%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :名前%>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, autofocus: true, size:8 %>
          </div>
        </div>
        <!--↓追加したカラム-->
        <div class='field'>
          <div class='field-label'>
            <%= f.label :所属部署%>
          </div>
          <div class='field-input'>
            <!-- 以前の設定 -->
            <!--%= f.text_field :group, autofocus: true, size:8 %-->
            <!-- プルダウンでDBから選ぶ / 重複は除く -->
            <%= f.collection_select :group, User.select(:group).distinct, :group, :group %>
          </div>
        </div>


        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autocomplete: "off", size:10 %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :パスワード%>
            <i>(英数字8文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off", size:10 %>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :パスワードを再入力%>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off", size:10 %>
          </div>
        </div>
        <div>
          <%= f.submit 'アカウント作成', class: 'btn01' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

