<div class='account-page' id='account-page'>
  <div class=''>
    <div class=''>
      <h5 class="p02" >メールアドレスの変更</h5>
      <p>氏名：<%= current_user.name %></p>
      <p>部署：<%= current_user.group %></p>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn01'%>
      <%= link_to "topに戻る", '/', class: 'btn01' %>
    </div>
    <div class=''>
      <%= form_with model: current_user, local: true do |f|%>
        <!--div class='field'-->
          <!--div class='field-label'-->
            <!--%= f.label :名前 %-->
          <%# </div> %>
          <%# <div class='field-input'> %>
            <!--%= f.text_field :name, autofocus: true, size:10 %-->
          <%# </div> %>
        <%# </div> %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, size:12 %>
          </div>
        </div>
        <div class=''>
          <%= f.submit "情報更新", class: 'btn01'%>
        </div>
      <% end %>
      <p class="fin"> <%= notice %></p>
    </div>
  </div>
</div>

