<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h5>wms_3 ログイン</h5>
    </div>
    <div class='account-page__inner--right user-form'>

      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autofocus: true, size:10 %>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label :パスワード%>
              <i>(8文字以上)</i>
            </div>
            <div class='field-input'>
              <%= f.password_field :password, autocomplete: "off", size:10 %>
            </div>
          </div>
          <div class='actions'>
            <%= f.submit "ログイン", class: 'btn01'%>
          </div>
          <%# devise.ja.ymlで設定 %>
          <p class="fin"><%= alert %></p>

          <p class="p02">未登録の方は</p>
          <%= link_to "新規アカウント登録", new_registration_path(resource_name), class: 'btn01'%>
          <p><br></p><!--1行分のスペース-->
          <p class="p02">パスワードを忘れた方は</p>
          <%= link_to "パスワード再発行", new_user_password_path,class: "btn01" %>
          <p>再発行送信済みの方はメールをご確認下さい。<br>送信元アドレス： kyuu5988@gmail.com</p>
          <p><br></p><!--1行分のスペース-->

        </div>
      <% end %>
    </div>
  </div>
</div>
