<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h5>wms_3 ログイン</h5>
      <!--↓デフォルトの記述、現在未使用-->
      <!--%= render "devise/shared/links" %-->
      <!--現在オリジナル利用中のため↑のは使っていない-->
    </div>
    <div class='account-page__inner--right user-form'>

      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autofocus: true, size:10 %>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label :パスワード%>
              <i>(英数字8文字以上)</i>
            </div>
            <div class='field-input'>
              <%= f.password_field :password, autocomplete: "off", size:10 %>
            </div>
          </div>
          <div class='actions'>
            <%= f.submit "ログイン", class: 'btn01'%>
          </div>
          <p class="fin">ログインしてご利用下さい</p>
          <p class="p02">未登録の方は↓</p>
          <%= link_to "新規アカウント登録", new_registration_path(resource_name), class: 'btn01'%>
          <p><br></p><!--1行分のスペース-->

        </div>
      <% end %>
    </div>
  </div>
</div>
