<!DOCTYPE html>
<html>
  <head>
    <title>wms_3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- responsive / reset css / web font -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">

    <!-- responsive / reset css / web font -->
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- header footer 追加 -->

<header>
  <p class="p01">wms_3 mobile <%= link_to 'TOP', '/',class:'fot-btn' %>
  </p>

<div class="search">
  <%= form_with(url: search_samples_path, local: true, method: :get, class: "") do |f| %>
  <%= f.text_field :keyword, placeholder: "申込番号6桁", class:"search-input", autocomplete: "off", maxlength:10 %>
  <%= f.submit "検索", class: "search-btn" %>
  <% end %>
</div>

<div class="">
  <% if user_signed_in? %>
    <p class="p01">　販売商品名でも検索出来ます。</p>
  <% else %>
    <p class="fin">ログインしていません。</p>
  <% end %>
</div>

<%# exp about wms_3 %>
  <div class="exp-board" id="exp-board">
    <p class="">企業様向け説明メニュー(クリックでON/OFF)</p>
  </div>

  <div class="exp-content" id="exp-content">
    <p class="p04">ここからappの利用方法について記入</p>
  </div>
<%# exp about wms_3 %>

</header>

    <%= yield %>

<footer>

  <div class="fot-menu">
    <p class="p03">*印はapp紹介の為の追加説明文です。</p>
    <div class="fot-btn">
      <%= link_to 'TOP', '/' %>
    </div>
    
    <% if user_signed_in? %>
    <div class="fot-btn">
      <%= link_to edit_user_path(current_user) do %>
      ログイン中 : <%= current_user.name %> / <%= current_user.group %>
      <% end %>
    </div>

    <div class="fot-btn">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
    <% end %>

    <p class="p01">Minami Hideo wms_3 mobile</p>
  </div>

</footer>


  </body>
</html>

