<!DOCTYPE html>
<html>
  <head>
    <title>wms_3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
        <!-- ここから追加 -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">



    <!-- ここまで追加 -->

    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- header footer 追加 -->


<header>
  <p class="p01">wms_3 mobile</p>

<div class="search">

  <%= form_with(url: search_samples_path, local: true, method: :get, class: "") do |f| %>
  <%= f.text_field :keyword, placeholder: "申込番号6桁", class:"search-input", autocomplete: "off", maxlength:6 %>
  <%= f.submit "検索", class: "search-btn" %>
  <% end %>

</div>

</header>

    <%= yield %>

<footer>

  <div class="fot-menu">
    <div class="fot-btn">
      <%= link_to 'TOP', '/' %>
    </div>
    
    <% if user_signed_in? %>
    <div class="fot-btn">
      <%= link_to edit_user_path(current_user) do %>
      ログイン中 : <%= current_user.name %>
      <% end %>
    </div>

    <div class="fot-btn">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
    <% end %>

    <p class="p01">©️ minami Co.Ltd wms_3 mobile ver_3β</p>


  </div>

</footer>




  </body>
</html>
