<!DOCTYPE html>
<html>
  <head>
    <title>wms_3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- responsive / reset css / web font -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">

    <!-- responsive / reset css / web font -->
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header>
  <p class="p01">wms_3 mobile <%= link_to 'TOP', '/',class:'fot-btn' %></p>

  <div class="search">
    <%= form_with(url: search_samples_path, local: true, method: :get, class: "") do |f| %>
    <%= f.text_field :keyword, placeholder: "申込番号6桁", class:"search-input", autocomplete: "off", maxlength:10 %>
    <%= f.submit "検索", class: "search-btn" %>
    <% end %>
  </div>

  <div class="">
    <% if user_signed_in? %>
      <p class="p01">　販売商品名でも検索可。入力無しで全在庫を表示</p>
    <% else %>
      <p class="fin">ログインしていません。</p>
    <% end %>
  </div>

  <%# exp about wms_3 %>
    <div class="exp-board" id="exp-board">
      <p class="">企業様向け説明メニュー(クリックでON/OFF)</p>
      <p class="p02">*このappの利用方法の説明です。</p>
    </div>

    <div class="exp-content" id="exp-content">
      <div class="exp-menu">
        <ul class="exp-lists">
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list" id="exp-menu2">課題解決</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>
          <li class="exp-menu-list">メニュー</li>

        </ul>
      </div>
      <div class="exp-inside" id="exp-inside">
        <p class="p05">app概要</p>
        <p class="p06">【目的】<br>TVショッピング企業向け　商品サンプルロケーション管理</p><br>
        <p class="p06">【想定する利用企業】<br>このappは私の現在の職場（自社の放送局を持つTV通販会社）での利用を想定して作りました。<br>同じTV通販企業・その他通常のTV局・社内の商品サンプルを頻繁に移動する可能性のある企業で利用が出来ます<br></p><br>
        <p class="p06">【課題解決】<br>私の会社にあるシステムの不便なところを社員より実際に聞き取り、その内容を改善してこのappを作りました。</p><br>
        <p class="p06">【before】<br>ロケーションの移動に赤外線ターミナルを利用。３〜４アクション必要で手間が掛かります。</p><br>
        <p class="p06">【after】<br>このappはスマホのNFC / QR の読取機能を利用して１〜２アクションで同じ操作を行うことが出来る。</p><br>

      </div>

    </div>
  <%# exp about wms_3 %>

</header>

    <%= yield %>

<footer>

  <div class="fot-menu">
    <p class="p03">*印はapp紹介の為の追加説明文です。</p>
    <div class="fot-btn">
      <%= link_to 'TOP', '/' %>
    </div>
    
    <% if user_signed_in? %>
    <div class="fot-btn">
      <%= link_to edit_user_path(current_user) do %>
      ログイン中 : <%= current_user.name %> / <%= current_user.group %>
      <% end %>
    </div>

    <div class="fot-btn">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
    <% end %>

    <p class="p01">Minami Hideo wms_3 mobile</p>
  </div>

</footer>


  </body>
</html>

